@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";
@import "daisyui";

html,body {
  color:  #101a16;
  background-color: #f3f4ee;
  background-image:
    linear-gradient(to right, #2b3a336f 1px, transparent 1px),
    linear-gradient(to bottom, #2b3a3366 1px, transparent 1px);
  background-size: 26px 26px;
  background-attachment: fixed;
   font-family: "Bricolage Grotesque", sans-serif;
}
